<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <div class="main-content">
        {{>header}}

        <img src="./img/me.JPG" class="portrait">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate nisi illo, quos voluptatibus
            ipsam amet quibusdfaam apple rem adshbvksjbksndbmus voluptas blanditiis facere, sequi temporibus. Eius
            pariatur quidem
            reiciendis nihil, vel adipisci fugiat ab quam recusandae.</p>
    </div>

    {{>footer}}
</body>

</html>