<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        you will helped by Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, non. {{name}}
    </div>
    {{>footer}}
</body>

</html>